.github/
.git/
.idea/
.next/
.react-router/
.vscode/
/build/
node_modules/

.dockerignore
.DS_Store
.env
.env.example
.env.sentry-build-plugin
.gitignore
.prettierignore
.prettierrc
build-image.sh
components.json
docker-compose.yml
Dockerfile
lefthook.yml
push_tag.sh
README.md

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
