# Postgres connection URL.
# Required
DATABASE_URL=postgres://user:password@127.0.0.1:5432/your-database-name

# Payload secret. Should be a cryptographically strong random string.
# Can be generated with `openssl rand -hex 24`
# Required
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Defines the URL of this Payload instance. Should be set if serving files from Payload via a different host.
# Common example is if media uploads are being served directly from Payload and they should be accessible from another app.
SERVER_URL=

# Email settings.
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_DEFAULT_FROM_ADDRESS=
SMTP_DEFAULT_FROM_NAME=

# Which email should receive notifications for new contact form submissions.
NOTIFICATION_EMAIL=

# S3 bucket settings for media uploads
S3_BUCKET=
S3_REGION=
# example: https://[region].digtaloceanspaces.com
S3_ENDPOINT=
# example: https://[bucket-name].[region].cdn.digitaloceanspaces.com
S3_CDN_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
